@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply py-2 px-3 rounded uppercase text-xs tracking-wider cursor-pointer;
}

.error {
  @apply text-red-600 font-mono tracking-tighter text-sm my-1;
}

/* circular progress bar */
.progress-circle {
  @apply w-[125px] h-[125px] rounded-full relative grid place-items-center;
}

.progress-circle:before {
  content: '';
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}

.progress-value {
  @apply relative text-xl;
}
